# Jira Function Hooks
srcc/js/glia-functions/Jira/hosrc
src/js/glia-functions/Auth0/function-out.js
src/js/glia-functions/Auth0/package-lock.json
src/js/glia-functions/Jira/HEAD
src/js/glia-functions/Jira/ce-tkt-jira-test copy.js
src/js/glia-functions/Jira/ce-tkt-jira-test with Jira Forms.js
src/js/glia-functions/Jira/ce-tkt-jira-test.js
src/js/glia-functions/Jira/config
src/js/glia-functions/Jira/description
src/js/glia-functions/Jira/function-out.js
src/js/glia-functions/Jira/info/
src/js/glia-functions/Jira/package-lock.json


# Vscode
.vscode/
